<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAutomationSuite">   
   <test name="Sanity1" >
      <parameter name="browser"  value="CH"/>
      <classes>
         <class name="com.sape.sanity.Test1"></class>
      </classes>
   </test>
   <test name="Sanity2" parallel="classes" >
      <parameter name="browser"  value="FF"/>
      <classes>
         <class name="com.sape.sanity.Test2"></class>
       </classes>
   </test>
</suite>
